[credential]
helper = /opt/boxen/bin/boxen-git-credential

[core]
excludesfile = /opt/boxen/config/git/gitignore
[user]
	name = obrok
	email = pawel.obrok@gmail.com
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
  ui = true
[alias]
	l = log --oneline --decorate --graph --all
	c = checkout
	s = status
	aa = add --all :/
	m = merge
	d = diff
	co = commit -m
	coa = commit --amend
	p = pull
	ca = commit -a -m
	ap = add -p
[branch]
	autosetuprebase = always
