[core]
	autocrlf = input
[user]
	name = Paweł Obrok
	email = pawel.obrok@gmail.com
  signingkey = 87E03734
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
  ui = true
[alias]
	l = log --oneline --decorate --graph --all
	c = checkout
	s = status
	aa = add --all :/
	m = merge
	d = diff
	co = commit -m
	coa = commit --amend
	p = pull --prune
	ca = commit -a -m
	ap = add -p
	st = -c commit.gpgsign=false stash
	pu = push -u origin HEAD
[branch]
	autosetuprebase = always
[push]
	default = simple
[commit]
	gpgsign = true
